@font-face {
  font-family: "worksans";
  src: url("/fonts/WorkSans-Regular.woff2");
}

html {
  font-family: "worksans", sans-serif;
}

body {
  background-color: #222;
  color: lightgray;
}

.rightinthemiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

a:link, a:visited {
  color: lightgray;
}
/*
.pswp__img {
  background-color: white;
  padding: 40;
}
*/
button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: "worksans", sans-serif;
  font-size: 1em;
  color: lightgray;
  text-decoration: underline;
  cursor: pointer;
}

td {
    padding-left: 2em;
    padding-right: 2em;
}
